body {
  margin: 0;
  overflow-x: hidden;
}

.logo-text {
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: bold;
}

.logo-image {
  height: 60px;
  margin-left: 3rem;
  margin-right: 0.5rem;
}

header {
  display: flex;
  padding-bottom: 0;
  font-family: Poppins, sans-serif;
  align-items: center;
  margin-bottom: -1.3rem;
}

.menu-button-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  gap: 20px;
}

.menu-button {
  margin-top: 7px;
  font-family: Poppins, sans-serif;
  padding: 2rem 1rem;
  font-weight: bold;
  line-height: 1;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  user-select: none;
}

.banner {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: white;
  background-color: rgb(92, 109, 219);
  padding-left: 90px;
  padding-bottom: 15px;
  display: block;
  margin: 0;
}

.banner-button {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  border-radius: 30px;
  padding: 7px 15px 7px 15px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid;
}

.selected {
  background-color: white;
  color: black;
}

.unselected {
  background-color: rgb(70, 82, 158);
  color: rgb(230, 230, 230);
}

.content-wrapper {
  padding: 20px 75px 7rem 75px;
  margin: 0 100px 0 100px;
  display: flex;
  font-family: Nunito Sans, sans-serif;
}

.content-title {
  font-family: Poppins, sans-serif;
}

.content-text {
  font-family: inherit;
}

.plain-text {
  width: 70vw;
}

footer {
  width: 100vw;
  padding-left: 75px;
  display: flex;
  font-family: Poppins, sans-serif;
  align-items: center;
  background-color: rgb(46, 46, 46);
  color: rgb(170, 170, 170);
  height: 7rem;
  gap: 4rem;
}

.footer-button {
  text-decoration: none;
  color: inherit;
}

.interview-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 750px;
  margin: auto;
}

.msg.sent {
  padding: 7px 25px 7px 25px;
  border-radius: 10px 10px 0 10px;
  background: #42a5f5;
  color: #fff;
  margin-left: auto;
  max-width: 300px;
}

.msg.rcvd {
  padding: 7px 25px 7px 25px;
  border-radius: 10px 10px 10px 0;
  background: rgb(187, 187, 187);
  color: #555;
  margin-right: auto;
  max-width: 300px;
}

#interviews {
  width: 100%;
}

.quiz-selection-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.quiz-icon {
  width: 25px;
}

.quiz-link-container {
  text-align: center;
  background-color: rgb(92, 109, 219);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 15px;
  font-size: 1.5rem;
}

.quiz-label-text {
  color: white;
  text-decoration: none;
}

#quiz {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 1.5rem;
}

#submit {
  background-color: rgb(92, 109, 219);
  color: white;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  font-size: 1.5rem;
  margin: 30px 30px 30px 0;
  font-family: Nunito Sans, sans-serif;
}

#results {
  font-size: 2rem;
  margin: 30px 30px 30px 0;
}

.slide {
  display: flex;
  flex-direction: column;
}
